<main class="main">

  <form class="main__form" action="">
    <label for="number" class="main__form--text">Introduce un número entre el 1 y el 100</label>

    <input class="main__form--number numberInput-js" id="number" type="number"
      placeholder="Escribe aquí tu número favorito">

    <input class="main__form--tryBtn tryButton-js" id="number" type="submit" value="Suerte">
    <input class="main__form--resetBtn resetButton-js" id="reset" type="submit" value="Reset">

  </form>

  <section class="instructions">
    <h4 class="instructions__tryNumber tryNumber-js">Introduce tu número y pulsa suerte.</h4>

    <span class="instructions__times">Intentos</span>
    <span class="instructions__times numberTimes-js">0</span>
  </section>
</main>