body {
  width: 100%;
  height: 100vh;
  /*  background-color: yellow; */
  background-size: cover;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 15vh;
  /*  padding-top: 50px; */
  text-align: center;

  &__title {
    font-size: 30px;
    padding: 10px 0;
    color: $mainColor;
  }
}

.main {
  width: 100%;
  text-align: center;
  background-color: aqua;

  &__form {
    height: 45vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-bottom: 20px;
    color: $mainColor;

    &--text {
      /*   padding-bottom: 20px; */
      font-size: 18px;
      font-weight: $boldFont;
    }

    &--number {
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 200px;
      padding: 10px 5px;
      border: 2px solid $softColor;
      border-radius: 5px;
    }
    &--tryBtn,
    &--resetBtn {
      width: 150px;
      font-size: 16px;
      padding: 5px 0 5px 0;
      margin-bottom: 15px;
      border: 1px solid $mainColor;
      background-color: $softColor;
      border-radius: 5px;
      &:hover {
        background-color: $mediumColor;
      }
    }
  }
}
.instructions {
  width: 100%;
  height: 30vh;
  text-align: center;
  &__tryNumber {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__times {
    font-size: 22px;
    color: $mainColor;
    font-weight: 800;
  }
}
.footer {
  height: 10vh;
  text-align: center;
}
